<div class="container">
    <br>
    <h2>SERVICIOS EN MANOS Y PIES</h2>
    <br>
    <div class="row mt-4 d-flex align-items-stretch">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos2.jfif" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Limpieza</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos3.jfif"  class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Esmaltado Básico</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos4.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Esmaltado Semipermanente</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos5.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas en Acrílico Esculpidas</b> <br>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mt-4 d-flex align-items-stretch">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos2.jfif" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas en Acrílico con Tips</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos3.jfif"  class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas en Gel</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos4.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas en Poligel</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos5.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas Press On</b> <br>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mt-4 d-flex align-items-stretch">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos2.jfif" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Recubrimiento de Acrílico sobre uña natural</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos3.jfif"  class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Extensiones de Uñas</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos4.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Uñas Postizas</b> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/manos5.jpg" class="card-img-top tamImagen" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Manicure para Caballero</b> <br>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <h2 class="mt-4">PRECIOS</h2>
    <div class="row textBlanco2">
        <div class="col-12 col-md-6">
           <p class="textBlanco2">
            Limpieza <br>
            Esmaltado Básico <br>
            Esmaltado Semipermanente <br>
            Uñas en acrílico Esculpidas <br>
            Uñas en acrílico con Tips <br>
            Uñas en Gel <br>
            Unas en Poligel <br>
            Uñas Press On <br>
            Recubrimiento de Acrílico <br>
            Extensiones de Uñas <br>
            Uñas Postizas <br>
            Manicure para Caballero <br>
           </p>
        </div>
        <div class="col-12 col-md-6">
            <p class="textBlanco2">
                $10.000 <br>
                $15.000 <br>
                $35.000 <br>
                $120.000 <br>
                $90.000 <br>
                $90.000 <br>
                $90.000 <br>
                $70.000 <br>
                $60.000 <br>
                $30.000 <br>
                $30.000 <br>
                $12.000 <br>
            </p>
        </div>
    </div>
</div>

