
<app-inicio-caballeros></app-inicio-caballeros>
<div class="text-center text-white">
    <h2 class="mt-4">CORTES</h2>
    <p style="font-size: 18px;">Descubre la magia de la transformación en <b>Bonita</b>, donde tus cortes se 
        hacen realidad.</p>
    <p class="textBlanco">
        Nuestro talentoso equipo de estilistas está listo para crear auténticas 
        obras maestras capilares que te harán deslumbrar en cada ocasión. Ya sea que busques un 
        look elegante y sofisticado o algo más atrevido y vanguardista, estamos aquí para realzar
        tu belleza única. En <b>Bonita</b>, no solo ofrecemos cortes, sino experiencias que
        te llenarán de confianza y te harán brillar. Únete a nosotros y déjanos hacer de cada día
        tu mejor día de cabello.
    </p>
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortecesar.jpg" class="card-img-top  " alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>CORTE CESAR</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white ">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortetexturizado.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>CORTE TEXTURIZADO</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortecombover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CORTE COMB OVER</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortepompadour.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CORTE POMPADOUR</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortefrechcrop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CORTE FRECH CROP</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card hover-zoom" style="width: 16rem;">
                <img src="assets/img2/cortehairtattoo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CORTE HAIR TATTOO</b></p>
                </div>
            </div>
        </div>
    </div>
    
<br>
</div>
