<!-- <div class="card mt-4">
    <div class="card-header">
        Agregar producto
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioProducto" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Código:</label>
              <input type="text" required
                class="form-control" name="" formControlName="codigo" id="" aria-describedby="helpId" placeholder="Código del producto">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre:</label>
                <input type="text" required
                  class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Nombre del producto">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-primary">Agregar</button>
                <button type="button" routerLink="/listar-producto" class="btn btn-success">Cancelar</button>
            </div>
        </form>
    </div>

</div>

ngNativeValidate activa la forma de validacion de los campos -->