<div class="text-center text-white">
    <h2 class="mt-4">PEINADOS</h2>
    <p style="font-size: 18px;">Descubre la magia de la transformación en <b>Bonita</b>, donde tus sueños de peinado se 
        hacen realidad.</p>
    <p class="textBlanco">
        Nuestro talentoso equipo de estilistas está listo para crear auténticas 
        obras maestras capilares que te harán deslumbrar en cada ocasión. Ya sea que busques un 
        look elegante y sofisticado o algo más atrevido y vanguardista, estamos aquí para realzar
        tu belleza única. En <b>Bonita</b>, no solo ofrecemos peinados, sino experiencias que
        te llenarán de confianza y te harán brillar. Únete a nosotros y déjanos hacer de cada día
        tu mejor día de cabello.
    </p>
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/peinados5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>NOVIAS</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/peinados4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>XV AÑOS</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/peinados6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>INFANTILES</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/peinados7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>TRENZAS</b></p>
                </div>
            </div>
        </div>
    </div>
    

<br>
</div>
