<div class="text-center text-white">
    <h2 class="mt-4">COLORACIÓN</h2>
    <p class="textBlanco">
        El servicio de color es un universo infinito dentro de nuestro salón.
        Nos perfeccionamos constantemente para poder abordar todas tus necesidades.
        Te asesoramos de una manera minuciosa para poder aconsejarte sobre qué es lo que tu cabello necesita. Cuáles son los pasos que llevara tu pelo para llegar al objetivo que deseas. Nuestra misión fundamental es mantener tu pelo sano y que luzca intacto, garantizamos tu felicidad absoluta.
        Como expresamos anteriormente, el universo de color es inmenso e infinito, por eso y para orientarte,
        te invitamos a que leas atentamente cada una de las descripciones de toda nuestra carta de servicios
         en color que tenemos para lograr satisfacer tus necesidades.
    </p>
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>TINTES PLANOS</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>RAYITOS</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color4.png"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>MECHAS</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CAMUFLAJE DE CANAS</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>COLORES FANTASÍA</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> <b>DECOLORACIÓN GLOBAL</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>CORRECCIÓN DE COLOR</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 text-center text-white">
            <div class="card" style="width: 16rem;">
                <img src="assets/img/color3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>BALAYAGE</b></p>
                </div>
            </div>
        </div>
    </div>
    

<br>
</div>

