<div class="text-center text-white">
    <div class=" row mt-2 ">
        <div class="col-md-6 mt-4">
            <img src="assets/img/maquillaje2.jfif" alt="Damas" width="90%" height="85%" class="rounded-image hover-zoom">
        </div>
        <div class="col-md-6 text-center text-white">
            <br>
            <h2>MAKE UP</h2>
            <p class="textBlanco mt-4">
                Descubre un mundo de belleza y transformación en <b>Bonita</b> con nuestro servicio 
                de maquillaje excepcional. <br><br>
                Ya sea que estés preparándote para un evento especial, una 
                sesión de fotos o simplemente quieras realzar tu belleza cotidiana, nuestro equipo de 
                expertos maquilladores está aquí para hacer realidad tus sueños de maquillaje. Utilizando
                productos de alta calidad y técnicas vanguardistas, te brindamos un look personalizado 
                que resalta tus rasgos únicos y refleja tu estilo individual. <br> <br>
                En <b>Bonita</b>, no se trata solo de maquillaje, sino de empoderamiento y confianza.
                 Únete a nosotros y déjate
                llevar por la magia del maquillaje en manos de verdaderos artistas. <br> <br>
                <b class="text-center">
                    Tu belleza es nuestra
                    inspiración y tu satisfacción es nuestro compromiso.
                </b>
            </p>
           
        </div>
    </div>
    <div class=" row mt-2 ">
        <div class="col-md-6 text-center text-white">
            <br>
            <h2>MANICURE Y PEDICURE</h2>
            <p class="textBlanco mt-4">
                Sumérgete en el lujo y el cuidado absoluto en <b>Bonita</b> con nuestro servicio de 
                manicure y pedicure de primer nivel. Nuestras manos y pies merecen ser mimados, y es por 
                eso que hemos creado una experiencia diseñada para elevar tu belleza y bienestar. <br><br>
                Desde exquisitas manicuras que realzan tu estilo hasta relajantes pedicuras que revitalizan tus 
                pies cansados, nuestro talentoso equipo de especialistas trabaja con pasión y precisión 
                para brindarte un cuidado insuperable, con productos de alta calidad y un enfoque en la 
                higiene y el detalle, cada visita a <b>Bonita</b> se convierte en un momento de 
                indulgencia y renovación.  <br> <br>
                Descubre el poder de unas manos y pies radiantes, y déjanos ser tu
                destino de confianza para el cuidado personal definitivo.         
            </p>
        </div>
        <div class="col-md-6 mt-4">
            <img src="assets/img/manos1.png" alt="Damas" width="85%" height="80%" class="rounded-image hover-zoom">
        </div>
    </div>

</div>
