<div class="text-center text-white">
    <div class=" row ">
        <div class="col-md-6 mt-4">
            <img src="assets/img/cortes1.png" alt="Damas" width="90%" height="85%" class="rounded-image hover-zoom">
        </div>
        <div class="col-md-6 text-center text-white">
            <br>
            <h2>CORTES</h2>
            <p class="textBlanco mt-4">
                Tijeras afiladas, máquinas precisas y un toque único; en <b>BONITA</b>, el arte del Corte
                 cobra vida. <br> <br>
                Nuestro equipo de expertos no solo corta el pelo, sino que crea una obra maestra que refleja 
                tu estilo, sabemos que tu cabello es un accesorio que habla por sí mismo.
                En el corazón del Team PRO de corte y peinado, la búsqueda de perfección es constante, 
                estamos inmersos en las últimas técnicas y tendencias para asegurarnos de que tu corte sea 
                vanguardista y fresco. <br> <br>
                Permítenos ser tus guías en este viaje capilar. Cada profesional tiene el don de captar tus
                 deseos y transformarlos en un estilo práctico para tu día a día.
                <br><br>
                Nuestros cortes no son solo eso, son una expresión de tu identidad y una declaración de 
                confianza. No dudes en confiar en nosotros para esculpir un corte que se ajuste a ti y a
                tu rutina. <br> <br>
                En <b>BONITA</b>, creemos que un corte no es solo una transformación capilar, es el
                comienzo de una nueva actitud.
            </p>
        </div>
    </div>

</div>
