<div class="card mt-4">
    <div class="card-header text-center">
       <h3>Lista Productos</h3>      
    </div>
    <div class="card-body">
        <div class="mt-4">
            <a class="btn btn-success text-white" role="button" routerLink="/agregar-producto">Agregar Nuevo Producto</a> 
        </div>
       <div class="table-responsive mt-4">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of Productos; let iControl=index">
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>
                        <a class="btn btn-info text-white" role="button" routerLink="/editar-producto/{{producto.codigo}}">Editar</a>   &nbsp;                   
                        <a class="btn btn-danger" (click)="borrarRegistro(producto.codigo, iControl)" role="button">Borrar</a>
                        <!--icontrol borra la fila que existe-->
                </td>

                </tr>
            </tbody>
        </table>
       </div>
       
    </div>

</div>
