<div class="text-center text-white">
    <div class=" row mt-4 ">
        <div class="col-md-6 text-center text-white">
            <br>
            <h2>TRATAMIENTOS PARA TU CABELLO</h2>
            <p class="textBlanco mt-4">
                Nuestros expertos capilares están listos para transformar tu melena en una obra de arte. 
                Desde revitalizantes hidratantes hasta rejuvenecedores tratamientos de queratina, tenemos 
                todo lo que tu cabello necesita. <br>             
            </p>
            <p style="text-align: left;">
                <b style="font-size: 30px;">-</b> &nbsp;<b>KERATINA</b> <br>
                <b style="font-size: 30px;">-</b> &nbsp;<b>BOTOX</b> <br>
                <b style="font-size: 30px;">-</b> &nbsp;<b>CIRUGÍA CAPILAR</b> <br>
                <b style="font-size: 30px;">-</b> &nbsp;<b>REPOLARIZACIÓN</b> <br>
                <b style="font-size: 30px;">-</b> &nbsp;<b>HIDRATACIÓN</b> <br>
                <b style="font-size: 30px;">-</b> &nbsp;<b>RECONSTRUCCIÓN CAPILAR</b> <br>
            </p>
        </div>
        <div class="col-md-6 mt-4">
            <img src="assets/img/tratamiento1.jfif" alt="Damas" width="80%" height="65%" class="rounded-image hover-zoom">
        </div>
    </div>
</div>
