<app-inicio-caballeros></app-inicio-caballeros>
<div class="text-center text-white">
    <div class=" row ">
        <div class="col-md-6 text-center text-white">
            <br><br>
            <h2>LAVADO</h2>
            <p class="textBlanco mt-4">
               
               Nuestro servicio sumerge a los hombres en una experiencia rejuvenecedora tanto para su cabello como para sus sentidos. Cada gota de agua, cada masaje suave, se combinan para ofrecerles un momento de indulgencia pura. <br> <br>
               Imagina sentir cómo las tensiones del día se desvanecen mientras te entregas a las manos expertas de nuestros estilistas especializados en cuidado masculino. Ven y sumérgete en un mundo de mimos y relajación con nuestro servicio de lavado, porque en <b>BONITA</b>, creemos que incluso los pequeños detalles pueden marcar una gran diferencia en tu apariencia y bienestar. <br> <br>
               <b class="text-center">¡Experimenta la perfección en cada hebra! </b>
                
            </p>
        </div>
        <div class="col-md-6 mt-4">
            <br><br><br>
            <img src="assets/img2/lavado-cabello.jpg" alt="Damas" width="100%" class="rounded-image hover-zoom">
        </div>
    </div>
</div>
