<div class="text-center text-white">
    <div class=" row ">
        <div class="col-md-6 text-center text-white">
            <br>
            <h2>LAVADO</h2>
            <p class="textBlanco mt-4">
               <b>¡Descubre el lujo de un cuidado capilar excepcional en Bonita!</b> 
               <br> <br>
                 Nuestro servicio de lavado va más allá de lo común, sumergiéndote en una experiencia
                rejuvenecedora para tu cabello y tus sentidos. Cada gota de agua, cada masaje suave, se
                combinan para ofrecerte un momento de indulgencia pura. <br> <br>
                Imagina sentir cómo las tensiones del día se desvanecen mientras te entregas a las manos 
                expertas de nuestros estilistas. Utilizando las marcas más prestigiosas de la industria, 
                cada lavado es una obra de arte en sí misma, diseñada para realzar la vitalidad y el brillo
                de tu cabello. Ven y sumérgete en un mundo de mimos y relajación con nuestro servicio de 
                lavado, porque en <b>Bonita</b>, creemos que incluso los pequeños detalles pueden marcar
                una gran diferencia en tu apariencia y bienestar. <br> <br>
                <b class="text-center">¡Experimenta la perfección en cada hebra! </b>
                
            </p>
        </div>
        <div class="col-md-6 mt-4">
            <img src="assets/img/lavado1.jfif" alt="Damas" width="90%" class="rounded-image hover-zoom">
        </div>
    </div>

</div>
<br>
 