<div class="container">
    <br>
    <h2>SERVICIOS DE MAQUILLAJE</h2>
    <br>
    <div class="row mt-4 d-flex align-items-stretch">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/maquillaje3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>DÍA</b> <br>
                        Un maquillaje suave y natural que resalta la belleza natural de la persona.
                        Se centra en tonos neutros y sutiles realces.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/maquillaje5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>NOCHE</b> <br>
                        Un estilo más audaz y dramático, con colores más intensos y definición. 
                        Puede incluir ahumados, delineados llamativos y labios más vibrantes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/maquillaje4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>FIESTA</b> <br>
                        Ideal para ocasiones especiales y eventos, este maquillaje a menudo presenta destellos,
                        brillos y colores festivos para un look festivo y radiante.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card cardColor textBlanco" style="width: 16rem;">
                <img src="assets/img/maquillaje6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>NOVIAS Y QUINCEAÑERAS</b> <br>
                        Un maquillaje delicado y duradero diseñado para el día de la boda. 
                        Suele ser natural pero elegante, resaltando la belleza de la novia.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
   
</div>

<h2 class="mt-4">PRECIOS</h2>
<div class="row textBlanco2">
    <div class="col-12 col-md-6">
       <p class="textBlanco2">
        Maquillaje Día <br>
        Maquillaje Noche <br>
        Maquillaje Fiesta <br>
        Maquillaje Novia y Quinceañera
       </p>
    </div>
    <div class="col-12 col-md-6">
        <p class="textBlanco2">
            $35.000 <br>
            $40.000 <br>
            $40.000 <br>
            $50.000 <br>
        </p>
    </div>
</div>
