<div class="text-center text-white">
    <div class="row mt-4">
        <h2>LISTA DE PRECIOS</h2>
        <p class="textBlanco mt-2">
            Los valores están sujetos a la aplicación de extras por largo y/o cantidad de cabello. Consultar
             con nuestros profesionales antes de comenzar el trabajo en caso de presentar dudas. <br>

            • En caso de optar por cambiar el lavado BONITA en aquellos servicios que lo tienen incluido, 
            por otro lavado de nuestra lista se restará el valor del lavado BONITA del mismo, abonando la 
            diferencia. <br>
            
            • En caso que el profesional lo requiera se adicionará profundidad. <br>
            
            • Si se realizara algún tratamiento, el valor del blowdry y lavado será restado si es 
            combinado con algún servicio que ya lo posea incluido. <br>
            
            • El adicional por Olaplex, es exclusivo para los servicios
            de coloración y decoloración. <br>
            
            • Los precios de coloración clásica no incluyen totalización.
            
        </p>
    </div>
    <h3 class="text-center mt-4">CORTES Y PEINADOS</h3>
    <div class="row">
        <div class="row textBlanco2">
            <div class="col-12 col-md-6">
                <p>
                 Cortes <br>
                 Peinados novias <br>
                 Peinados Quinceañeras <br>
                 Peinados Infantiles <br>
                 Trenzas
                </p>
             </div>
             <div class="col-12 col-md-6">
                 <p>
                     $15.000 <br>
                     $35.000 <br>
                     $35.000 <br>
                     $25.000 <br>
                     $20.000 <br>
                 </p>
             </div>
        </div>
        
    </div>
    <h3 class="text-center mt-4">LAVADOS</h3>
    <div class="row">
        <div class="row textBlanco2">
            <div class="col-12 col-md-6">
                <p>
                 Lavado L'Oreal Serie Expert <br>
                 Lavado Moroccanoil <br>
                 Lavado Schwarkopf  <br>
                 Lavado Alfaparf <br>
                </p>
             </div>
             <div class="col-12 col-md-6">
                 <p>
                     $5.000 <br>
                     $5.000 <br>
                     $5.000 <br>
                     $5.000 <br>
                 </p>
             </div>
        </div>   
    </div>
    <h3 class="text-center mt-4">TRATAMIENTOS</h3>
    <div class="row">
        <div class="row textBlanco2">
            <div class="col-12 col-md-6">
                <p>
                 Tratamiento Anti Frizz Keratina S-M <br>
                 Tratamiento Anti Frizz Botox S-M <br>
                 Tratamiento Anti Frizz Revitalizador S-M <br>
                 Traitment Alfa Celulas Madres * <br>
                 Traitment Caviar Kerastase * <br>
                 Ampoule Di Lino Alfaparf *<br>
                </p>
             </div>
             <div class="col-12 col-md-6">
                 <p>
                     $25.000 <br>
                     $23.500 <br>
                     $30.000 <br>
                     $15.000 <br>
                     $8.000 <br>
                 </p>
             </div>
        </div>   
    </div>
    <h3 class="text-center mt-4">COLORACIÓN</h3>
    <div class="row">
        <div class="row textBlanco2">
            <div class="col-12 col-md-6">
                <p>
                 Tintes Planos S-M <br>
                 Tintes Planos L-XL <br>
                 Rayitos S-M <br>
                 Rayitos L-XL <br>
                 Mechas S-M <br>
                 Mechas L-XL <br>
                 Camuflaje de Canas S-M <br>
                 Camuflaje de Canas  L-XL <br>
                 Balayage S-M <br>
                 Balayage L-XL <br>
                 Tonos Fantasía S-M <br>
                 Tonos Fantasía L-XL <br>
                 Decoloración Global S-M <br>
                 Decoloración Global L-XL<br>
                </p>
             </div>
             <div class="col-12 col-md-6">
                 <p>
                     $70.000 <br>
                     $120.000 <br>
                     $120.000 <br>
                     $180.000 <br>
                     $170.000 <br>
                     $220.000 <br>
                     $120.000 <br>
                     $170.000 <br>
                     $250.000 <br>
                     $300.000 <br>
                     $70.000 <br>
                     $150.000 <br>
                     $180.000 <br>
                     $220.000 <br>
                 </p>
             </div>
        </div>   
    </div>

</div>
 
